/*====COLORS=======*/
$dark-grey: #202020;
$grey: #1f1f1f;
$bright-grey:  #777;
$footer-bright-grey: #c6c6c6;
$footer-grey: #707070;
$very-bright-grey: #a2a2a2;
$crimson: #e14f4f;
$crimson-mat: #bd4141;
$crimson-dark: #d14343;